md-sidenav {
 
  &.end {
  width: 800px;
  }

  &.start {
    width: 800px
  }
  
}
.demo-grid-list {
 
  md-card-content {
    height: 200px;
    overflow: hidden;
  }

}

.center-container {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}