<md-sidenav-layout class="demo-root" fullscreen>
  <md-sidenav #start align="end" mode="over">
    <md-toolbar color="primary">
      <span>Shelter Summit</span>
      <span style="flex: 1 1 auto;"></span>
      <span>Welcome</span>
    </md-toolbar>
    <md-card class="demo-card demo-basic">
      <!--   <md-toolbar color="primary">Basic</md-toolbar> -->
      <md-card-content>

        <form #catDetail="ngForm" (ngSubmit)="createCat(catDetail.value,catDetail.valid)" novalidate>
          <md-input placeholder="Name" style="width: 100%" name="name" ngModel></md-input>
          <p>
            <md-input style="width: 100%" placeholder="Headline" name="headline" ngModel></md-input>
          </p>
       <!--   <table style="width: 100%" cellspacing="0">
            <tr>
              <td>
                <md-input style="width: 100%" placeholder="Approx Age"></md-input>
              </td>
              <td>
                <md-input style="width: 100%" placeholder="Approx Birthdate" type="date"></md-input>
              </td>
              <td>
                <md-input #postalCode style="width: 100%" maxlength="5" placeholder="Postal Code" value="94043">
                </md-input>
              </td>
            </tr>
          </table>-->
          <textarea name="description" style="width:100%" rows="10" cols="50" name="description" ngModel></textarea>
          
          <button md-raised-button color="primary" type="submit">Create</button>
        </form>
        
      </md-card-content>
    </md-card>
  </md-sidenav>

  <md-toolbar color="primary">
    <span>Shelter Summit</span>
    <span style="flex: 1 1 auto;"></span>
    <span>Welcome</span>
  </md-toolbar>
  <div class="demo-grid-list">
    <md-toolbar [color]="myColor">
<md-radio-group>
  <md-radio-button value="option_1">Male</md-radio-button>
  <md-radio-button value="option_2">Female</md-radio-button>
</md-radio-group>

    </md-toolbar>
    <md-grid-list cols="3" rowHeight="400px" gutterSize="5px">
      <md-grid-tile *ngFor="let cat of cats$ | async">

        <md-card>
          <md-card-title-group>
            <md-card-subtitle>{{cat.headline}}</md-card-subtitle>
            <md-card-title>{{cat.name}}</md-card-title>
            <img md-card-sm-image [src]="cat.images[0].url" />
          </md-card-title-group>

          <md-card-content>
           
            <div [innerHtml]="cat.description"></div>

          </md-card-content>
          <md-card-actions>
            <button md-button (click)="start.open()">DETAILS</button>
            <button md-button>LIKE</button>
            <button md-button>SHARE</button>
          </md-card-actions>
        </md-card>
      </md-grid-tile>

    </md-grid-list>

  </div>
</md-sidenav-layout>