<md-sidenav-layout class="demo-root" fullscreen>
  <md-sidenav #start mode="side" class="start">
    <button md-raised-button color="primary" (click)="clearAllCats()">Clear Cats</button>
    <button md-raised-button color="primary" (click)="populateCats()">Populate Cats</button>
    <button md-raised-button color="primary" (click)="start.close()">Close</button>
  </md-sidenav>
  <md-sidenav #end align="end" mode="over" class="end" (close)="clearCat()">
    <md-toolbar color="primary">
      <span>Cat Details</span>
      <span style="flex: 1 1 auto;"></span>
    </md-toolbar>

    <app-cat-edit-form 
      [cat]="catEdit$ | async"
      [catBreeds]="catBreeds$ | async"
      [catAges]="catAges$ | async" 
      [catGenders]="catGenders$ | async"
      *ngIf="isEditing$ | async" 
      (submitCat)="submitCat($event)">
    </app-cat-edit-form>
  </md-sidenav>

  <md-toolbar color="primary">
    <span>Shelter Summit</span>
    <span style="flex: 1 1 auto;"></span>
    <button md-raised-button color="primary" (click)="start.open()">Admin</button>
    <button md-raised-button color="primary" (click)="displayAddCat()">Add Cat</button>
    <span>Welcome</span>
  </md-toolbar>
  <div class="demo-grid-list">
    <md-toolbar>
    <ul>
      <li *ngFor="let breed of catBreeds$ | async">
       <md-checkbox  
        [checked]="(filters$ | async)?.breed[breed.value]"
        (change)="toggleFilter('breed',breed.value, $event)">{{breed.label}}
      </md-checkbox>
    </li>
  </ul>
  <ul>
      <li *ngFor="let age of catAges$ | async">
       <md-checkbox  
        [checked]="(filters$ | async)?.age[age.value]"
        (change)="toggleFilter('age',age.value, $event)">{{age.label}}
      </md-checkbox>
    </li>
  </ul>
       <ul>
      <li *ngFor="let gender of catGenders$ | async">
       <md-checkbox  
        [checked]="(filters$ | async)?.gender[gender.value]"
        (change)="toggleFilter('gender',gender.value, $event)">{{gender.label}}
      </md-checkbox>
    </li>
  </ul>
    </md-toolbar>
    <div class="center-container" *ngIf="catsLoading$ | async">
    <md-progress-circle mode="indeterminate"></md-progress-circle>
    </div>
    <md-grid-list cols="3" rowHeight="400px" gutterSize="5px">
      <md-grid-tile *ngFor="let cat of filteredCats$ | async">
        <app-cat-detail-card [cat]="cat" 
        (displayEdit)="displayCat($event);" 
        (deleteCat)="deleteCat($event)">
        </app-cat-detail-card>
        
       
      </md-grid-tile>

    </md-grid-list>

  </div>
</md-sidenav-layout>
