 <md-toolbar>
  <app-cat-filter-list
    filterProperty="breed"
    [activeFilters]="filters$ | async"
    [filterGroup]="catBreeds$ | async" 
    (filterChange)="toggleFilter($event)">
   </app-cat-filter-list>

  <app-cat-filter-list
    filterProperty="age"
    [activeFilters]="filters$ | async"
    [filterGroup]="catAges$ | async" 
    (filterChange)="toggleFilter($event)">
   </app-cat-filter-list>

   <app-cat-filter-list
    filterProperty="gender"
    [activeFilters]="filters$ | async"
    [filterGroup]="catGenders$ | async" 
    (filterChange)="toggleFilter($event)">
   </app-cat-filter-list>

 </md-toolbar>