<md-card class="demo-card demo-basic">
  <!--   <md-toolbar color="primary">Basic</md-toolbar> -->
  <md-card-content>

    <form [formGroup]="catForm" (ngSubmit)="submitCat.emit(catForm.value)" novalidate>
      <input type="hidden"  formControlName="id" />
      <input type="hidden" formControlName="imageUrl" />
      <md-input placeholder="Name" style="width: 100%" formControlName="name"></md-input>
     <
      <p>
        <md-input style="width: 100%" placeholder="Headline" formControlName="headline"></md-input>
      </p>

      <table>
        <tr>
          <td>Breed</td>
          <td>
            <section class="radio-section">
              <md-radio-group  formControlName="breed" align="start">
                <md-radio-button *ngFor="let o of catBreeds" [value]="o.id">
                  {{o.label}}
                </md-radio-button>
              </md-radio-group>
            </section>
          </td>
        </tr>
        <tr>
          <td>Gender</td>
          <td>
            <section class="radio-section">
              <md-radio-group formControlName="gender" align="start">
                <md-radio-button *ngFor="let o of catGenders" [value]="o.id">
                  {{o.label}}
                </md-radio-button>
              </md-radio-group>
            </section>
          </td>
        </tr>
        <tr>
          <td>Age</td>
          <td>
            <section class="radio-section">
              <md-radio-group formControlName="age" align="start">
                <md-radio-button *ngFor="let o of catAges" [value]="o.id">
                  {{o.label}}
                </md-radio-button>
              </md-radio-group>

            </section>
          </td>
        </tr>
      </table>

      <textarea formControlName="description" style="width:100%" rows="10" cols="50" name="description"></textarea>
    
      <button md-raised-button color="primary" type="submit" [disabled]="isPending">
        Submit
      </button>
    </form>

  </md-card-content>
</md-card>